{{ range .Methods }}
func (m *{{ $.MockStructName }}) {{ . }}(
	ctx context.Context, params *{{ $.SDKPackage }}.{{ . }}Input,
	_ ...func(*{{ $.SDKPackage }}.Options),
) (*{{ $.SDKPackage }}.{{ . }}Output, error) {
	args := m.Called(ctx, params)
	return args.Get(0).(*{{ $.SDKPackage }}.{{ . }}Output), args.Error(1)
}
{{ end }}
